<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Problem Set</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 5px;
        }

        h1 {
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;
        }

        h2 {
            margin-top: 30px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid #ccc;
            text-align: left;
        }

        pre {
            background-color: #f4f4f4;
            padding: 5px;
            margin: 0px;
            border-radius: 5px;
            code{
                border-radius: 3px;
            }
        }
    </style>
    {# <style>


    </style> #}
    <style>
        {% include "./style.css" %}
    </style>
    {% include "./katex_includes.html" %}
    {% include "./highlightjs_includes.html" %}

</head>

<body>

    <h1>{{unit_name}}</h1>

    {% for problem in problems %}
    <div class="problem">
        <h2>{{ problem.title }}</h2>
        <div class="prob-statement">
            {{ problem.statement }}
        </div>

        {% if problem.code.prefix %}
        <h3>Prefix</h3>
        <pre><code>{{problem.code.prefix}}</code></pre>
        {% endif %}

        {% if problem.code.template %}
        <h3>Code Template</h3>
        <pre><code>{{ problem.code.template }}</code></pre>
        {% endif %}


        <h3>Solution</h3>
        <pre><code>{{ problem.code.solution }}</code></pre>

        {% if problem.code.suffix %}        
        <h3>Suffix</h3>
        <pre><code>{{problem.code.suffix}}</code></pre>
        {% endif %}

        {% if problem.code.suffix_invisible %}                
        <h3>Invisible Suffix</h3>
        <pre><code>{{problem.code.suffix_invisible}}</code></pre>
        {% endif %}

        <h3>Public Test Cases</h3>
        <table>
            <thead>
                <tr>
                    <th>Input</th>
                    <th>Expected Output</th>
                </tr>
            </thead>
            <tbody>
                {% for testcase in problem.testcases.public_testcases %}
                <tr>
                    <td>
                        <pre>{{ testcase.input }}</pre>
                    </td>
                    <td>
                        <pre>{{ testcase.output }}</pre>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Private Test Cases</h3>
        <table>
            <thead>
                <tr>
                    <th>Input</th>
                    <th>Expected Output</th>
                </tr>
            </thead>
            <tbody>
                {% for testcase in problem.testcases.private_testcases %}
                <tr>
                    <td>
                        <pre>{{ testcase.input }}</pre>
                    </td>
                    <td>
                        <pre>{{ testcase.output }}</pre>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

</body>

</html>