{%
set diff_color = {
"+ ": "rgba(0,255,0,.2)",
"- ": "rgba(255,0,0,.2)",
"? ": "rgba(0,0,255,.2)",
" ": "white",
}
%}


{%macro render_proq(title, proq, depth=1)%}
<div class="problem">
    <h{{depth}}>{{ title }}</h{{depth}}>
    <div class="prob-statement">
        {{ proq.statement | gfm}}
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap:wrap; gap: 20px;">
        <div style="flex: content;">
            <h{{depth+1}}>Code Template</h{{depth+1}}>
            <pre
                class="solution">{%if proq.solution.prefix.strip() %}<code class="dim lang-{{proq.lang}}">{{proq.solution.prefix|e}}</code>{% endif %}<code class="lang-{{proq.lang}}">{{ proq.solution.template | e }}</code>{%if proq.solution.suffix.strip() %}<code class="dim lang-{{proq.lang}}">{{proq.solution.suffix | e}}</code>{% endif%}</pre>
        </div>
        <div style="flex: content;">
            <h{{depth+1}}>Solution</h{{depth+1}}>
            <pre
                class="solution">{%if proq.solution.prefix.strip() %}<code class="dim lang-{{proq.lang}}">{{proq.solution.prefix | e}}</code>{% endif %}<code class="lang-{{proq.lang}}">{{ proq.solution.solution | e }}</code>{%if proq.solution.suffix.strip() %}<code class="dim lang-{{proq.lang}}">{{proq.solution.suffix | e}}</code>{% endif%}</pre>
        </div>
        <div style="flex: content;">
            <h{{depth+1}}>Template - Solution Diff</h{{depth+1}}>
            <pre
                class="solution">{%if proq.solution.prefix.strip() %}<code class="dim lang-{{proq.lang}}">{{proq.solution.prefix | e}}</code>{% endif %}<output style="padding-block:1rem">{%for diff in proq.solution.template_solution_diff%}<span style="background:{{diff_color[diff[:2]]}}">{{diff[2:]}}</span>{%endfor%}</output>{%if proq.solution.suffix.strip() %}<code class="dim lang-{{proq.lang}}">{{proq.solution.suffix | e}}</code>{% endif%}</pre>

        </div>
    </div>

    {% if proq.solution.suffix_invisible%}
    <h{{depth+1}}>Invisible Suffix</h{{depth+1}}>
    {% if show_hidden_suffix %}
    <pre class="solution"><code>{{proq.solution.suffix_invisible | e }}</code></pre>
    {% else %}
    <p>Invisible Suffix Hidden</p>
    {% endif %}
    {% endif %}
    <div style="display: flex; flex-direction: row; flex-wrap:wrap; gap: 20px;">
        {% for groupName, testcaseGroup in [["Public",proq.public_testcases],
        ["Private",proq.private_testcases]]%}
        <div style="flex: content;">
            <h{{depth+1}}>{{groupName}} Test Cases</h{{depth+1}}>
            <table>
                <thead>
                    <tr>
                        <th>Input</th>
                        <th>Expected Output</th>
                    </tr>
                </thead>
                <tbody>
                    {% for testcase in testcaseGroup %}
                    <tr>
                        <td>
                            <pre>{{ testcase.input | e }}</pre>
                        </td>
                        <td>
                            <pre>{{ testcase.output | e }}</pre>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{%endmacro%}

{%macro render_nested_proq(nested_proq, depth=1)%}
    {%if nested_proq.content is sequence%}
        <h{{depth}}>{{nested_proq.title}}</h{{depth}}>
        {%for item in nested_proq.content %}
            {{render_nested_proq(item,depth+1)}}
        {%endfor%}
    {%else %}
        {{render_proq(nested_proq.title, nested_proq.content,depth)}}
    {%endif%}
{%endmacro%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{nested_proq.title}}</title>
    
    <style>
        {% include "./export_style.css" %}
    </style>
    {% include "./katex_includes.html" %}
    {% include "./highlightjs_includes.html" %}

</head>

<body>
    {{render_nested_proq(nested_proq)}}
</body>

</html>