<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Problem Set</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 5px;
        }

        h1 {
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;
        }

        h2 {
            margin-top: 30px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid #ccc;
            text-align: left;
        }

        pre {
            &.solution{
                margin: 0px;
                border-radius: 5px;
                border: thin solid #000;
                padding: 3px;
            }

            code.dim {
                background: #f4f4f4;
            }
        }
    </style>
    <style>
        {
            % include "./style.css" %
        }
    </style>
    {% include "./katex_includes.html" %}
    {% include "./highlightjs_includes.html" %}

</head>

<body>

    <h1>{{unit_name}}</h1>

    {% for problem in problems %}
    <div class="problem">
        <h2>{{ problem.title }}</h2>
        <div class="prob-statement">
            {{ problem.statement }}
        </div>
        <div style="display: flex; flex-direction: row; flex-wrap:wrap; gap: 20px;">
            <div style="flex: 1;">
                <h3>Code Template</h3>
                <pre class="solution">{%if problem.code.prefix.strip() %}<code class="dim lang-{{problem.lang}}">{{problem.code.prefix}}</code>{% endif %}<code class="lang-{{problem.lang}}">{{ problem.code.template }}</code>{%if problem.code.suffix.strip() %}<code class="dim lang-{{problem.lang}}">{{problem.code.suffix}}</code>{% endif%}</pre>
            </div>
            <div style="flex: 1;">
                <h3>Solution</h3>
                <pre
                    class="solution">{%if problem.code.prefix.strip() %}<code class="dim lang-{{problem.lang}}">{{problem.code.prefix}}</code>{% endif %}<code class="lang-{{problem.lang}}">{{ problem.code.solution }}</code>{%if problem.code.suffix.strip() %}<code class="dim lang-{{problem.lang}}">{{problem.code.suffix}}</code>{% endif%}</pre>
            </div>
        </div>
        
        {% if problem.code.suffix_invisible %}
        <h3>Invisible Suffix</h3>
        <pre class="solution"><code>{{problem.code.suffix_invisible}}</code></pre>
        {% endif %}

        <h3>Public Test Cases</h3>
        <table>
            <thead>
                <tr>
                    <th>Input</th>
                    <th>Expected Output</th>
                </tr>
            </thead>
            <tbody>
                {% for testcase in problem.testcases.public_testcases %}
                <tr>
                    <td>
                        <pre>{{ testcase.input }}</pre>
                    </td>
                    <td>
                        <pre>{{ testcase.output }}</pre>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Private Test Cases</h3>
        <table>
            <thead>
                <tr>
                    <th>Input</th>
                    <th>Expected Output</th>
                </tr>
            </thead>
            <tbody>
                {% for testcase in problem.testcases.private_testcases %}
                <tr>
                    <td>
                        <pre>{{ testcase.input }}</pre>
                    </td>
                    <td>
                        <pre>{{ testcase.output }}</pre>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

</body>

</html>