---
title: 
---

# Problem Statement

# Solution
```{{ lang }} {{source_filename}} {% if build%}-b '{{build}}'{%endif%} {% if run%}-r '{{run}}'{%endif%}
<prefix>

</prefix>
<template>

<solution>

</solution>
</template>
<suffix>

</suffix>
<suffix_invisible>

</suffix_invisible>
```

# Public Test Cases
{% for public_testcase_num in range(1, num_public + 1) %}
## Input {{ public_testcase_num }}

```

```

## Output {{ public_testcase_num }}

```

```

{% endfor %}
# Private Test Cases
{% for private_testcase_num in range(1, num_private + 1) %}
## Input {{ private_testcase_num }}

```

```

## Output {{ private_testcase_num }}

```

```
{% endfor %}
