<span>
  <a target="_blank" href="https://livinnector.github.io/live-py-tutor/#code=%23%20Write%20your%20code%20here&cumulative=false&curInstr=0&heapPrimitives=false&mode=edit&origin=opt-live.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false">Python Tutor</a> |
  <a target="_blank" href="https://livinnectorpod.github.io/intro-to-python-lecture-notes">Starboard Notebook</a> |
  <a target="_blank" href="https://livinnector.github.io/live-py-tutor/pyodide-console.html">Pyodide Terminal</a>
</span>