<popup-component button-content="Python Tutor">
  <iframe id="pythonTutor"
    src="https://livinnector.github.io/live-py-tutor/#code=%23%20Write%20your%20code%20here&cumulative=false&curInstr=0&heapPrimitives=false&mode=edit&origin=opt-live.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"
    frameborder=0 height="100%" width="100%"></iframe>
</popup-component>

<popup-component button-content="Starboard Notebook">
  <iframe width=100% height=100% src="https://livinnectorpod.github.io/intro-to-python-lecture-notes"
    frameborder="0"></iframe>
</popup-component>

<popup-component button-content="Pyodide Terminal">
  <iframe id="pyodide-iframe" src="https://livinnector.github.io/live-py-tutor/pyodide-console.html" width=100%
    height=100% style="border-radius:15px"></iframe>
</popup-component>

<script>
  // Define the Popup Component class
  try {
    class PopupComponent extends HTMLElement {
      constructor() {
        super();
        this.attachShadow({ mode: 'open' });
        this.buttonContent = this.getAttribute('button-content') || 'Click me';
        this.shadowRoot.innerHTML = `
          <style>
            button {
              -webkit-appearance: none;
              border-radius: 0;
              text-align: inherit;
              background: none;
              box-shadow: none;
              padding: 0;
              cursor: pointer;
              border: none;
              color: inherit;
              font: inherit;
              
            }
  
            #trigger {
              background-color: #555770;
              color: #fff;
              text-align: center;
              font-weight: bold;
              padding: 10px 30px;
              border-radius: 3px;
              cursor: pointer;
              border-radius: 4px;
      
            }
  
            #overlay {
              position: fixed;
              height: 100%;
              width: 100%;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: rgba(0,0,0,0.8);
              display: none;
              z-index: 10;
            }
  
            #popup {
              top:10%;
              width: 80%;
              height: 80%;
              padding: 10px;
              position: relative;
              background: #fff;
              margin: auto;
              border-radius:20px;
            }
  
            #close {
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
              color: #fff;
              background:#000;
              border-radius:50%;
              height:30px;
              width:30px;
            }
          </style>
          <!-- HTML template with slot and button content attribute -->
          <button id="trigger">${this.buttonContent}</button>
          <div id="overlay">
            <div id="popup">
              <div id="close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                  <line id="myLine" x1="15" y1="15" x2="25" y2="25" stroke="#fff" stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10"></line>
                  <use href="#myLine" />
                  <use href="#myLine" transform="rotate(90 20 20)" />
                </svg>
              </div>
              <slot></slot>
            </div>
          </div>
        `;
      }

      connectedCallback() {

        this.shadowRoot.getElementById('trigger').addEventListener('click', () => {
          this.shadowRoot.getElementById('overlay').style.display = 'block';
        });
        this.shadowRoot.getElementById('close').addEventListener('click', () => {
          this.shadowRoot.getElementById('overlay').style.display = 'none';
        });
        this.shadowRoot.getElementById('overlay').addEventListener('click', (e) => {
          if (e.target.id === 'overlay') {
            this.shadowRoot.getElementById('overlay').style.display = 'none';
          }
        });
      }
    }

    customElements.define('popup-component', PopupComponent);
  } catch { }

</script>