{{proq["statement"]|gfm}}

{% if proq.code.template%}
<details style="padding:2rem 0;">
    <summary> <strong>Template Code(Click to Expand)</strong> </summary>
    <pre><code class="lang-{{proq['lang']}}">{{proq.code.template|e}}</code></pre>
</details>
{% endif %}

{% if proq.lang == "python" %}
{% include "./python_tools.html" %}
{% endif %}
